@media (max-width: 43.75em) {
  .navigation {
    width: 100%; } }

.navigation__nav-mobile {
  display: none; }
  @media (max-width: 43.75em) {
    .navigation__nav-mobile {
      display: block;
      margin-top: -3rem;
      height: 100%;
      width: 50%;
      background-color: rgba(235, 126, 126, 0.5);
      position: fixed;
      z-index: 11500;
      transform: translateX(-100%);
      transition: all .5s; } }

.navigation__nav {
  margin-top: 3rem;
  width: 100%;
  height: 5rem;
  overflow: hidden; }
  .navigation__nav .nav {
    position: fixed;
    z-index: 11000;
    height: 5rem;
    width: 100%;
    background-color: rgba(235, 126, 126, 0.5);
    transform: translateX(-100%); }
    @media (max-width: 43.75em) {
      .navigation__nav .nav {
        display: none; } }

.navigation__button {
  border: 1px solid black;
  background-color: white;
  height: 5rem;
  width: 5rem;
  color: white;
  position: fixed;
  top: 3rem;
  left: 3rem;
  display: flex;
  justify-content: center;
  z-index: 12000;
  transition: all 0.4s; }

.navigation__checkbox:checked ~ .navigation__nav-mobile {
  transform: translateX(1px); }

.navigation__icon {
  position: relative;
  margin-top: 2.5rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    display: inline-block;
    background-color: #0f0f0f;
    width: 3.2rem;
    height: 0.5px;
    transition: all 0.3s; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0; }
  .navigation__icon::before {
    top: -0.8rem; }
  .navigation__icon::after {
    top: 0.8rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  transform: rotate(135deg);
  top: 0; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  transform: rotate(-135deg);
  top: 0; }

.navigation__checkbox {
  display: none; }

.navigation__list {
  display: flex;
  align-items: center;
  list-style: none;
  width: 100%;
  justify-content: space-around; }
  @media (max-width: 43.75em) {
    .navigation__list {
      display: block;
      text-align: center;
      height: 100%;
      margin-top: 50%; } }
  @media (max-width: 31.25em) {
    .navigation__list {
      margin-top: 80%; } }
  .navigation__list li {
    margin-top: 1rem; }

.navigation__listItems:link, .navigation__listItems:visited {
  text-transform: uppercase;
  text-decoration: none;
  color: white; }
  .navigation__listItems:link h1, .navigation__listItems:visited h1 {
    transition: all .2s;
    font-size: 1.5rem; }
    .navigation__listItems:link h1:active, .navigation__listItems:visited h1:active {
      transform: scale(1.6) skewY(6deg); }
    @media (max-width: 43.75em) {
      .navigation__listItems:link h1, .navigation__listItems:visited h1 {
        margin-bottom: 3rem; } }

.header {
  height: 80vh; }
  @media (max-width: 31.25em) {
    .header {
      height: 70vh; } }
  .header__part-1 {
    position: absolute;
    z-index: 2700;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/bakery-img-1-mobile.jpg);
    background-size: cover; }
    @media (min-width: 43.75em) {
      .header__part-1 {
        background-image: url(../img/bakery-img-1.jpg); } }
  .header__img {
    height: 100%;
    width: 100%; }
  .header__part-2 {
    position: absolute;
    z-index: 2600;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/bakery-img-2-mobile.jpg);
    background-size: cover;
    background-position: center; }
    @media (min-width: 43.75em) {
      .header__part-2 {
        background-image: url(../img/bakery-img-2.jpg); } }
  .header__part-3 {
    position: absolute;
    z-index: 2500;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/bakery-img-3-mobile.jpg);
    background-size: cover;
    background-position: center; }
    @media (min-width: 43.75em) {
      .header__part-3 {
        background-image: url(../img/bakery-img-3.jpg); } }
  .header__part-4 {
    position: absolute;
    z-index: 2400;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/bakery-img-4-mobile.jpg);
    background-size: cover; }
    @media (min-width: 43.75em) {
      .header__part-4 {
        background-image: url(../img/bakery-img-4.jpg); } }
  .header__part-5 {
    position: absolute;
    z-index: 2300;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/bakery-img-5.jpg);
    background-size: cover; }
  .header__headings {
    color: #664a4a;
    font-size: 4rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0; }
    @media (max-width: 31.25em) {
      .header__headings {
        width: 90%;
        font-size: 3rem; } }
  .header__logo {
    position: absolute;
    bottom: -3rem;
    right: 0;
    width: 15rem;
    z-index: 6000; }

.section-top-products {
  width: 100%;
  height: 95vh;
  background-color: green;
  overflow: hidden;
  position: relative; }
  .section-top-products .heading {
    position: relative;
    margin-top: 7.5rem;
    margin-left: 4rem;
    z-index: 9000;
    text-align: center;
    color: white;
    font-size: 2rem;
    transform: skewX(12deg); }
  .section-top-products__products-1 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #d85a5a; }
    .section-top-products__products-1 h1 {
      position: absolute;
      top: -1rem;
      left: -2rem;
      transform: skewY(-12deg);
      background-color: #b14444;
      color: white;
      padding: 1rem 1.5rem; }
    .section-top-products__products-1 button {
      position: absolute;
      bottom: -1rem;
      right: -2rem;
      transform: skewY(-12deg);
      background-color: #b14444;
      border: none;
      color: white;
      padding: 1rem 1.5rem;
      transition: all .2s;
      font-family: 'Indie Flower', cursive; }
      .section-top-products__products-1 button:focus {
        outline: none; }
      .section-top-products__products-1 button:active {
        transform: scale(1.6) skewY(6deg); }
  .section-top-products__products-2 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 2000;
    background-color: #d8b65a;
    top: 0;
    left: 0;
    transform: translateX(100vw); }
    .section-top-products__products-2 h1 {
      position: absolute;
      top: -1rem;
      left: -2rem;
      transform: skewY(-12deg);
      background-color: #bb9a3f;
      color: white;
      padding: 1rem 1.5rem; }
    .section-top-products__products-2 button {
      position: absolute;
      bottom: -1rem;
      right: -2rem;
      transform: skewY(-12deg);
      background-color: #bb9a3f;
      border: none;
      color: white;
      padding: 1rem 1.5rem;
      transition: all .2s;
      font-family: 'Indie Flower', cursive; }
      .section-top-products__products-2 button:focus {
        outline: none; }
      .section-top-products__products-2 button:active {
        transform: scale(1.6) skewY(6deg); }
  .section-top-products__products-3 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 3000;
    background-color: #93d85a;
    top: 0;
    left: 0;
    transform: translateX(100vw); }
    .section-top-products__products-3 h1 {
      position: absolute;
      top: -1rem;
      left: -2rem;
      transform: skewY(-12deg);
      background-color: #649c35;
      color: white;
      padding: 1rem 1.5rem; }
    .section-top-products__products-3 button {
      position: absolute;
      bottom: -1rem;
      right: -2rem;
      transform: skewY(-12deg);
      background-color: #649c35;
      border: none;
      color: white;
      padding: 1rem 1.5rem;
      transition: all .2s;
      font-family: 'Indie Flower', cursive; }
      .section-top-products__products-3 button:focus {
        outline: none; }
      .section-top-products__products-3 button:active {
        transform: scale(1.6) skewY(6deg); }
  .section-top-products__products-4 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 4000;
    background-color: #b65ad8;
    top: 0;
    left: 0;
    transform: translateX(100vw); }
    .section-top-products__products-4 h1 {
      position: absolute;
      top: -1rem;
      left: -2rem;
      transform: skewY(-12deg);
      background-color: #742590;
      color: white;
      padding: 1rem 1.5rem; }
    .section-top-products__products-4 button {
      position: absolute;
      bottom: -1rem;
      right: -2rem;
      transform: skewY(-12deg);
      background-color: #742590;
      border: none;
      color: white;
      padding: 1rem 1.5rem;
      transition: all .2s;
      font-family: 'Indie Flower', cursive; }
      .section-top-products__products-4 button:focus {
        outline: none; }
      .section-top-products__products-4 button:active {
        transform: scale(1.6) skewY(6deg); }
  .section-top-products__products-5 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 5000;
    background-color: #d85a7e;
    top: 0;
    left: 0;
    transform: translateX(100vw); }
    .section-top-products__products-5 h1 {
      position: absolute;
      top: -1rem;
      left: -2rem;
      transform: skewY(-12deg);
      background-color: #7a1d37;
      color: white;
      padding: 1rem 1.5rem; }
    .section-top-products__products-5 button {
      position: absolute;
      bottom: -1rem;
      right: -2rem;
      transform: skewY(-12deg);
      background-color: #7a1d37;
      border: none;
      color: white;
      padding: 1rem 1.5rem;
      transition: all .2s;
      font-family: 'Indie Flower', cursive; }
      .section-top-products__products-5 button:focus {
        outline: none; }
      .section-top-products__products-5 button:active {
        transform: scale(1.6) skewY(6deg); }
  .section-top-products__products-6 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 6000;
    background-color: #5ad6d8;
    top: 0;
    left: 0;
    transform: translateX(100vw); }
    .section-top-products__products-6 h1 {
      position: absolute;
      top: -1rem;
      left: -2rem;
      transform: skewY(-12deg);
      background-color: #309495;
      color: white;
      padding: 1rem 1.5rem; }
    .section-top-products__products-6 button {
      position: absolute;
      bottom: -1rem;
      right: -2rem;
      transform: skewY(-12deg);
      background-color: #309495;
      border: none;
      color: white;
      padding: 1rem 1.5rem;
      transition: all .2s;
      font-family: 'Indie Flower', cursive; }
      .section-top-products__products-6 button:focus {
        outline: none; }
      .section-top-products__products-6 button:active {
        transform: scale(1.6) skewY(6deg); }
  .section-top-products__img {
    height: 90%;
    width: 90%; }
  .section-top-products .image-background-1 {
    margin: auto;
    background: white;
    width: 30rem;
    height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    position: relative; }
  .section-top-products .image-background-2 {
    margin: auto;
    background: white;
    width: 40rem;
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    position: relative; }
  .section-top-products .image-background-3 {
    margin: auto;
    background: white;
    width: 30rem;
    height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    position: relative; }
  .section-top-products .image-background-4 {
    margin: auto;
    background: white;
    width: 30rem;
    height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    position: relative; }
  .section-top-products .image-background-5 {
    margin: auto;
    background: white;
    width: 30rem;
    height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    position: relative; }
  .section-top-products .image-background-6 {
    margin: auto;
    background: white;
    width: 30rem;
    height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    position: relative; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box;
  font-family: 'Indie Flower', cursive; }

html {
  font-size: 62.5%; }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 43.75%; } }

.section-feedback {
  height: 90vh;
  width: 100%;
  background: #f16b42;
  position: relative; }
  @media (max-width: 43.75em) {
    .section-feedback {
      height: 100vh; } }
  .section-feedback .feedback-heading {
    position: absolute;
    color: white;
    background: #b44b2a;
    display: inline-block;
    padding: 1rem 2rem;
    font-size: 2rem;
    top: 0;
    left: 50%;
    margin-top: 4rem;
    transform: skewX(12deg) translate(-50%, -50%); }
    @media (max-width: 31.25em) {
      .section-feedback .feedback-heading {
        width: 90%;
        text-align: center; } }
  .section-feedback__feedback-container {
    width: 100%;
    height: 80%;
    display: flex;
    position: absolute;
    top: 10rem;
    flex-wrap: wrap; }
  .section-feedback__block-1 {
    flex: 0 0 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    @media (max-width: 43.75em) {
      .section-feedback__block-1 {
        flex: 0 0 100%;
        height: 50%; } }
    .section-feedback__block-1 .heading {
      font-size: 3rem;
      text-align: center;
      text-transform: uppercase;
      color: white;
      flex: 0 0 80%; }
  .section-feedback__block-2 {
    flex: 0 0 50%;
    height: 100%;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    @media (max-width: 43.75em) {
      .section-feedback__block-2 {
        flex: 0 0 100%;
        height: 50%; } }
  .section-feedback__textarea {
    border: 3px solid #cc5a37;
    height: 20rem;
    width: 40rem; }
    .section-feedback__textarea:focus {
      outline: none;
      border: 3px solid #943b20; }
  .section-feedback__submit {
    color: white;
    padding: 1rem 1.5rem;
    background: #b44b2a;
    border: none;
    transition: all .2s;
    font-family: 'Indie Flower', cursive; }
    .section-feedback__submit:focus {
      outline: none; }
    .section-feedback__submit:active {
      transform: scale(1.6) skewY(6deg); }

.section-customer-reviews {
  height: 80vh;
  width: 100%;
  background-color: #f1b168;
  position: relative;
  display: flex;
  flex-wrap: wrap; }
  @media (max-width: 43.75em) {
    .section-customer-reviews {
      height: auto; } }
  .section-customer-reviews__heading {
    color: #ffffff;
    font-size: 2rem;
    position: absolute;
    left: 50%;
    top: 2rem;
    transform: skewX(12deg) translate(-50%, -50%); }
  .section-customer-reviews__block-1 {
    height: 100%;
    flex: 0 0 33.33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0; }
    @media (max-width: 43.75em) {
      .section-customer-reviews__block-1 {
        flex: 0 0 100%;
        height: 100%;
        margin-top: 10rem; } }
  .section-customer-reviews__block-2 {
    height: 100%;
    flex: 0 0 33.33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0; }
    @media (max-width: 43.75em) {
      .section-customer-reviews__block-2 {
        flex: 0 0 100%;
        height: 100%;
        margin-top: 4rem; } }
  .section-customer-reviews__block-3 {
    height: 100%;
    flex: 0 0 33.33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0; }
    @media (max-width: 43.75em) {
      .section-customer-reviews__block-3 {
        flex: 0 0 100%;
        height: 100%;
        margin-top: 4rem;
        margin-bottom: 2rem; } }
  .section-customer-reviews__img {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    margin-top: -1.5rem; }
  .section-customer-reviews__log {
    width: 5px;
    height: 10rem;
    background-color: #c3863f; }
    @media (max-width: 43.75em) {
      .section-customer-reviews__log {
        height: 4rem; } }
  .section-customer-reviews__textarea {
    width: 80%;
    height: 15rem;
    background-color: #c88b45;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem; }
    .section-customer-reviews__textarea h1 {
      color: white;
      font-size: 1.5rem; }
      @media (max-width: 43.75em) {
        .section-customer-reviews__textarea h1 {
          font-size: 2rem; } }

.footer {
  padding: 2rem 1rem;
  background: #4d4a4a;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  overflow: hidden; }
  @media (max-width: 43.75em) {
    .footer {
      justify-content: center; } }
  .footer__logo {
    width: 20rem;
    margin-right: auto;
    margin-top: -2rem; }
    @media (max-width: 43.75em) {
      .footer__logo {
        margin-left: 8rem; } }
  .footer__social {
    flex: 0 0 15%;
    border: 2px solid #d67253;
    padding: 1rem 1rem;
    margin-right: 1rem;
    display: flex;
    margin-top: -2rem;
    transition: all .4s; }
    @media (max-width: 43.75em) {
      .footer__social {
        flex: 0 0 80%;
        margin-bottom: 3.5rem; } }
    .footer__social h1 {
      color: white; }
    .footer__social:active {
      background-color: white; }
  .footer__social:active > h1 {
    color: #d67253; }
  .footer__social:active > .footer__socialLogo {
    background-color: #d67253; }
  .footer__socialLogo {
    margin-right: auto; }
