.navigation {
  @media (max-width: $phone){
    width: 100%;
  }
  &__nav-mobile {
    display: none;
    @media (max-width: $phone){
      display: block;
      margin-top: -3rem;
      height: 100%;
      width: 50%;
      background-color: rgba(235, 126, 126, 0.5);
      position: fixed;
      z-index: 11500;
      transform: translateX(-100%);
      transition: all .5s;
    }
  }
  &__nav {
    margin-top: 3rem;
    width: 100%;
    height: 5rem;
    overflow: hidden;
    & .nav {
      position: fixed;
      z-index: 11000;
      height: 5rem;
      width: 100%;
      background-color: rgba(235, 126, 126, 0.5);
      transform: translateX(-100%);
      @media (max-width: $phone) {
        display: none;
      }
    }
  }
  &__button {
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
    height: 5rem;
    width: 5rem;
    color: white;
    position: fixed;
    top: 3rem;
    left: 3rem;
    display: flex;
    justify-content: center;
    z-index: 12000;
    transition: all 0.4s;
  }
  &__checkbox:checked ~ &__nav-mobile {
    transform: translateX(1px);
}
  &__icon {
    position: relative;
    margin-top: 2.5rem;

    &,
    &::before,
    &::after {
      display: inline-block;
      background-color: rgb(15, 15, 15);
      width: 3.2rem;
      height: 0.5px;
      transition: all 0.3s;
    }
    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
    }
    &::before {
      top: -0.8rem;
    }
    &::after {
      top: 0.8rem;
    }
  }
  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
  }
  &__checkbox:checked + &__button &__icon::before {
    transform: rotate(135deg);
    top: 0;
  }
  &__checkbox:checked + &__button &__icon::after {
    transform: rotate(-135deg);
    top: 0;
  }
  &__checkbox {
    display: none;
  }

  &__list {
    display: flex;
    align-items: center;
    list-style: none;
    width: 100%;
    justify-content: space-around;
    @media (max-width: $phone){
      display: block;
      text-align: center;
      height: 100%;
      margin-top: 50%;
    }
    @media (max-width: $small-phone){
      margin-top: 80%;
    }
    & li {
      margin-top: 1rem;
    }
    
  }
  &__listItems:link,
  &__listItems:visited {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    & h1 {
      transition: all .2s;
      font-size: 1.5rem;
    &:active {
      transform: scale(1.6) skewY(6deg); 
    }
    @media (max-width: $phone){
      margin-bottom: 3rem;
    }
  }

    
  }
}
